# Node.js
node_modules/

# Build files
build/
dist/

# Environment variables
.env

# Editor files
.vscode/
.idea/

# Dependency lock files
yarn.lock
package-lock.json

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store
