/* WorldMap.css */

.world-map-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; /* Set the height to 100% of the parent container */
}

.leaflet-container {
  height: 70vh; /* Set the map container height to 70% of the viewport height */
  width: 90vw; /* Set the map container width to 90% of the viewport width */
  border-radius: 8px; /* Add a border radius to the map container */
  overflow: hidden; /* Hide overflowing content */
  margin: 20px 0; /* Add margin to the top and bottom of the map */
}

.rectangle-test{
  width: 200px;
  height: 200px;
}